<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c1b5b6">  <td>24/04/07 18:01:59</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TooltipsPageTest.testPageTitle()[pri:1, instance:Capture_and_Verify_Page_Title_and_Tooltips.TooltipsPageTest@662b4c69]">testPageTitle</td> 
  <td>main@125130493</td>   <td></td> </tr>
<tr bgcolor="c1b5b6">  <td>24/04/07 18:02:00</td>   <td>439</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TooltipsPageTest.tearDown()[pri:0, instance:Capture_and_Verify_Page_Title_and_Tooltips.TooltipsPageTest@662b4c69]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@125130493</td>   <td></td> </tr>
<tr bgcolor="c1b5b6">  <td>24/04/07 18:01:47</td>   <td>-12461</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TooltipsPageTest.setUp()[pri:0, instance:Capture_and_Verify_Page_Title_and_Tooltips.TooltipsPageTest@662b4c69]">&gt;&gt;setUp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@125130493</td>   <td></td> </tr>
<tr bgcolor="c1b5b6">  <td>24/04/07 18:01:59</td>   <td>58</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TooltipsPageTest.testTooltipText_Tooltip_on_top()[pri:2, instance:Capture_and_Verify_Page_Title_and_Tooltips.TooltipsPageTest@662b4c69]">testTooltipText_Tooltip_on_top</td> 
  <td>main@125130493</td>   <td></td> </tr>
</table>
